<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Handwritten digit recognition</title>
	<!--<form action="{{ url_for('index_page') }}" method=post>-->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <link href="static/small-business.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/style.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">

    <header class="header1">
    	
    	<h1 class="HeaderText">DIGIT RECOGNIZER</h1>
    </header>
    <hr class="hrCastra">





        <div class="row clearfix">
            <div class="col-md-3" align="center">
				<div style="position: relative;">
					<canvas id="the_stage" width="200" height="200" align="center">Canvas</canvas><br>
					</div>
				<div style="position: relative;">
					<button type="button" class="btn btn-danger butt" onclick="clearCanvas()" align="center">Sterge</button>
					<button type="button" class="btn btn-success butt" id="pred" onclick="predict()" align="center">Prezice</button>
					</div>
            </div>

            <div class="col-md-7">
				<div class="row" id="pr">
					<div class="col-md-8"><span id="pred_text">Rezultatul Prezicerii:</span> <span id="rec_result"> </span></div>
					<div class="col-md-4"><button type="button" class="btn btn-default butt" onclick="hide_show()" id="hide_show_btn" style="display: none;">Arata info</button></div>
				</div>
				<div class="container" id="hidable" style="display: none;">
					<div>
						<div class="col-md-7">
							<table class="table">
								<thead>
									<tr>
										<th>FNN</th>
										<th>Trained FNN</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td id="fnn1"> </td>
										<td id="fnn_t1"> </td>
									</tr>
									<tr>
										<td id="fnn2"> </td>
										<td id="fnn_t2"> </td>
									</tr>
									<tr>
										<td id="fnn3"> </td>
										<td id="fnn_t3"> </td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<div id="prediction" style="display: none;">
						<span id="question">Corect?</span>
						<button type="button" class="btn btn-default butt" id="yes" onclick="positive_pred()">Da</button>
						<button type="button" class="btn btn-default butt" id="no" onclick="negative_pred()">Nu</button>
						<button type="button" class="btn btn-default butt" id="not_a_digit" onclick="nothing()">Nu este o cifra</button>
					</div>
					<span id="answer_reaction"> </span>
					<div id="digit_form" style="display: none;">
						<select id="digits">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
						<button type="button" class="btn btn-default butt" onclick="submit_correct_digit()">Confirm</button>
					</div>
				</div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <h2>Despre Aplicatie</h2>
                <p>
                 Această aplicație poate recunoaște cifrele scrise de mână. Desenați o cifră pe canvasul de mai sus și apăsați butonul "Recunoaștere" pentru a vedea o predicție. Apăsați butonul "Șterge" pentru a șterge panza și a scrie din nou o cifră. Butonul "Afișați mai multe informații" dezvăluie predicții detaliate pentru toate modelele</p>
                <div class="row">
                 <div class="col-xs-6 col-md-3">
                 <a href="#" class="thumbnail " style="width:500%; " >
                 <img src="static/imagini/digit.jpg" alt="..." >
                 </a>
                 </div>
                 
                 </div>
            </div>
            <div class="col-md-4">
                <h2>Colectarea Datelor</h2>
                <p>
                 Imaginea desenată este salvată într-un dosar temporar care este golit la sfârșitul fiecărei sesiuni. Implicit, imaginea desenată este utilizată pentru a instrui modele suplimentare și pentru a îmbunătăți în continuare calitatea predicției. Dacă nu doriți ca acest lucru să se întâmple, debifați pavilionul de mai jos și nu veți primi informații.</p><br>
                <label><input id="Checkbox" name="Checkbox" type="checkbox" checked="checked">
                                                                          Permiteți utilizarea cifrei desenate pentru antrenarea modelului</label>
            </div>



    </div>
    <script src="static/jquery.js"></script>
    <script src="static/bootstrap.min.js"></script>
	<script src="static/draw.js"></script>
</body>

</html>
